@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}



@section Style{


    <style>
        .testimonial1 {
            color: #8d97ad;
            font-weight: 300;
        }

            .testimonial1 h1,
            .testimonial1 h2,
            .testimonial1 h3,
            .testimonial1 h4,
            .testimonial1 h5,
            .testimonial1 h6 {
                color: #3e4555;
            }

            .testimonial1 .bg-light {
                background-color: #f4f8fa !important;
            }

            .testimonial1 .subtitle {
                color: #8d97ad;
                line-height: 24px;
            }

            .testimonial1 .testi1 .card-body {
                padding: 35px;
            }

            .testimonial1 .testi1 .thumb {
                padding: 10px 20px 10px;
                padding-left: 90px;
                margin-left: -35px;
            }

                .testimonial1 .testi1 .thumb .thumb-img {
                    width: 60px;
                    left: 20px;
                    top: -10px;
                }

            .testimonial1 .testi1 h5 {
                line-height: 30px;
                font-size: 18px;
            }

            .testimonial1 .testi1 .devider {
                height: 1px;
                background: rgba(120, 130, 140, 0.13);
                width: 100px;
            }

            .testimonial1 .bg-success-gradiant {
                background: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
            }

            .testimonial1 .card.card-shadow {
                -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
                box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
            }

            .testimonial1 .owl-theme .owl-dots .owl-dot.active span,
            .testimonial1 .owl-theme .owl-dots .owl-dot:hover span {
                background: orange;
            }
    </style>




    <style>
        .banner-area {
            min-height: 100vh
        }

        img {
            object-fit: cover
        }

        .single-product .product-details .price .l-through {
            text-decoration: none
        }
    </style>


}


 
    <!-- start banner Area -->
    <section class="banner-area">
        <div class="container">
            <div class="row fullscreen align-items-center justify-content-start">
                <div class="col-lg-12">
                    <div class="active-banner-slider owl-carousel">
                        <!-- single-slide -->
                        @foreach (var item in Model.Sliders)
                    {
                        <div class="row  align-items-center d-flex">
                            <div class="col-lg-5 col-md-6">
                                <div class="banner-content">
                                    <h1> @item.Title </h1>
                                    <p> @item.Description</p>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="banner-img">
                                    <img class="img-fluid" src="~/images/@item.Image" alt="photo">
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- start features Area -->
<section class="features-area section_gap">
    <div class="container">
        <div class="row features-inner">
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="~/home/img/features/f-icon1.png" alt="">
                    </div>
                    <h6>Free Delivery</h6>
                    <p>Free Shipping on all order</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="~/home/img/features/f-icon2.png" alt="">
                    </div>
                    <h6>Return Policy</h6>
                    <p>Free Shipping on all order</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="~/home/img/features/f-icon3.png" alt="">
                    </div>
                    <h6>24/7 Support</h6>
                    <p>Free Shipping on all order</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="~/home/img/features/f-icon4.png" alt="">
                    </div>
                    <h6>Secure Payment</h6>
                    <p>Free Shipping on all order</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end features Area -->
<!-- Start category Area -->
<section class="category-area">
    <div class="container">
        <h2 class="text-center mb-4">Choose the store category that suits you</h2>
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12">
                <div class="row">

                    @{
                        bool flag = true;
                    }
                    @foreach (var item in Model.CategoryList)
                    {
                        if (flag)
                        {
                            <div class="col-lg-8 col-md-8">
                                <div class="single-deal">
                                    <div class="overlay"></div>
                                    <img style="height:223px"
                                 class="img-fluid w-100" src="~/images/@item.Image"
                                 alt="photo-@(flag= false)">
                                    <a asp-action="Shop"
                               asp-controller="Home"
                               asp-route-storeCategoryId="@item.Id">
                                        <div class="deal-details">
                                            <h6 class="deal-title"> @item.Name</h6>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-lg-4 col-md-4">
                                <div class="single-deal">
                                    <div class="overlay"></div>
                                    <img style="height:223px"
                                 class="img-fluid w-100" src="~/images/@item.Image"
                                 alt="photo-@(flag= true)">
                                    <a asp-action="Shop"
                               asp-controller="Home"
                               asp-route-storeCategoryId="@item.Id">
                                        <div class="deal-details">
                                            <h6 class="deal-title">@item.Name</h6>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        }






                    }


                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-deal">
                    <div class="overlay"></div>
                    <img class="img-fluid w-100" src="~/home/img/category/c5.jpg" alt="">
                    <a href="~/home/img/category/c5.jpg" class="img-pop-up" target="_blank">
                        <div class="deal-details">
                            <h6 class="deal-title">See Discounted Product</h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End category Area -->
<!-- start product Area -->
<section class="active-product-area section_gap">
    <!-- single product slide -->
    <div class="single-product-slider">
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="section-title">
                        <h1>Latest Products</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore
                            magna aliqua.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- single product -->
                @foreach (var item in Model.Products)
                {

                    <div class="col-lg-3 col-md-6">
                        <div class="single-product">
                            <img class="img-fluid" src="~/images/@item.ProductImages.ToArray()[0].Image" alt="">
                            <div class="product-details">
                                <h6>

                                    <a asp-action="Product"
                                   asp-controller="Home"
                                   asp-route-id="@item.Id"
                                   class="h6">@item.Name</a>
                                </h6>
                                <div class="price">
                                    <h6>@(String.Format("{0:0.0#}",item.Price))</h6>
                                    <h6 class="l-through">
                                        <a asp-action="Shop"
                                       asp-controller="Home"
                                       asp-route-storeId="@item.Store.Id">
                                            @item.Store.Name
                                        </a>
                                    </h6>
                                </div>
                                <div class="prd-bottom">

                                    <button class="btn addToCart" data-itemid="@item.Id">
                                        <span class="ti-bag"></span>
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>

                }

            </div>
        </div>
 
    </div>
    <div class="text-center my-2">
        <a class="primary-btn" asp-action="Shop"
           asp-controller="Home">View All Product</a>
    </div>
</section>
<!-- end product Area -->

<div class="testimonial1 py-5 bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h4 class="my-3">Check what our Customers are Saying</h4>
                <h6 class="subtitle font-weight-normal">
                    You can relay on our amazing features list and also our customer
                    services will be great experience for you without doubt
                </h6>
            </div>
        </div>
        <!-- Row  -->
        <div class="owl-carousel owl-theme testi1 mt-4">
            @foreach (var item in Model.Reviews)
            {
                <div class="item">
                    <div class="card card-shadow border-0 mb-4">
                        <div class="card-body">
                            <div class="position-relative thumb bg-success-gradiant d-inline-block text-white mb-4">
                                <img src="~/images/@item.Image"
                                 alt="wrapkit"
                                 class="thumb-img position-absolute rounded-circle" />
                                @item.Name
                            </div>
                            <h5 class="font-weight-light">
                                @item.Review1
                            </h5>
                            <span class="devider d-inline-block my-3"></span>
                            <h6 class="font-weight-normal">
                                @item.JobTitle
                            </h6>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>





@section Scripts
    {
    <script>
        let btns = document.querySelectorAll(".addToCart");

        btns.forEach(btn => {
            btn.addEventListener('click', function(event) {
                event.preventDefault();

                console.log(btn);

                btn.disabled = true;

                let formData = new FormData();
                formData.append("id", btn.dataset.itemid);

                fetch("Cart/Add", {
                    method: 'POST',
                    body: formData
                }).then(res => {
                    if (res.ok) {
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'Item Added To Cart',
                            showConfirmButton: false,
                            timer: 1000
                        })

                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'try again'
                        })


                    }
                    btn.removeAttribute('disabled');
                });
            });

        })
    </script>


     <script>
      $(".testi1").owlCarousel({
        loop: true,
        margin: 30,
        nav: false,
        dots: true,
        autoplay: true,
        responsiveClass: true,
        responsive: {
          0: {
            items: 1,
            nav: false,
          },
          1024: {
            items: 2,
          },
        },
      });
    </script>

}
 
